# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.sublime-*
*.iml

# Operating Systems
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini

# Windows
Thumbs.db
Desktop.ini