name: Validate Renovate Config

on:
    push:
        branches:
        - main
        - master
    pull_request:
        branches:
        - main
        - master

permissions:
    contents: read

jobs:
    validate:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
          with:
            node-version: '24.x'

        - name: Validate Renovate config
          run: npx --yes --package renovate -- renovate-config-validator default.json

    needs_migration:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
          with:
            node-version: '24.x'

        - name: Validate Renovate config
          run: npx --yes --package renovate -- renovate-config-validator --strict default.json
